@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**
 * isso evita o padding e margin
 * componente transbortar quando
 * se uso o .row do botstrap
 */
#containerPrincipal
{
    height: 100vh;
}
#containerMain
{
    background-image: url(../img/bg.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
}
.appBladeContainer
{
    /* height: 100vh; */
}
:root
{
    --var-primeira: #3C3ECA;
    --var-segunda:  #4A4BA0;
    --var-terca:    #2023F5;
    --var-quarta:   #4A4B75;
    --var-quinta:   #3C3C4B;
    --var-sexta:    #2B2B33;

    --var-escuro:    #46494e;
    --var-claro:    #cad1db;
}

.btn-primeiro
{
    background-color: var(--var-segunda);
    color: var(--var-claro);
}

.wbtn
{
    padding: 7px 10px;
    border-radius: 5px;
}
